# Kernel Modules
# Required kernel modules for Kubernetes
# Modules are loaded at boot and during installation
#
# Edit this file to add/remove modules, then rebuild: make build

- overlay
- br_netfilter
- ip_vs
- ip_vs_rr
- ip_vs_wrr
- ip_vs_sh
- nf_conntrack
- nvme_tcp
